footer{
    margin: 0 auto;
    background: rgb(245, 245, 245);
    max-width: 1400px;
    margin-top: 100px;
}

.footer-grid-container{
  background: rgb(245, 245, 245);
 display: grid;
 grid-template-columns: 45% 10% 45%;
 

.bande-vertical-2 {
    border-left: 1px solid rgba(149, 149, 149, 0.37); 
    height: 800px;
    margin: 0 auto;
    text-align: center;
    align-items: center;    
  }

}