header{
    margin-top: 450px;
    text-align: center;
  
    
    h1{
        text-transform: uppercase;
        font-family:"font-2" ;
        color: $color1;
        font-size: 6rem;
        word-spacing: 3.5rem;
    }

    p{color: $color1;
    font-family: "font-1";
    font-size: 1.2rem;
    margin-top: 60px;
}
    .fa-circle-arrow-down{
        color: $color1;
        margin-top: 100px;
        font-size: 8em;   
    }

}
    
