* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "font-1";
  src: url(../fonts/Merriweather-Light.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../fonts/Inter-ExtraBold.ttf);
}
body {
  margin: 0 auto;
  background: url(/images/bg.jpg) center/cover fixed;
}

header {
  margin-top: 450px;
  text-align: center;
}
header h1 {
  text-transform: uppercase;
  font-family: "font-2";
  color: rgb(245, 245, 245);
  font-size: 6rem;
  word-spacing: 3.5rem;
}
header p {
  color: rgb(245, 245, 245);
  font-family: "font-1";
  font-size: 1.2rem;
  margin-top: 60px;
}
header .fa-circle-arrow-down {
  color: rgb(245, 245, 245);
  margin-top: 100px;
  font-size: 8em;
}

nav {
  margin-top: 400px;
}
nav .nav-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  background: rgba(189, 189, 189, 0.279);
  max-width: 1400px;
}
nav .nav-left ul {
  display: flex;
  justify-content: flex-start;
}
nav .nav-left li {
  list-style: none;
}
nav .nav-left a {
  text-decoration: none;
  color: rgb(245, 245, 245);
  font-family: "font-1";
  text-transform: uppercase;
}
nav .nav-left button {
  color: white;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  font-family: "font-2";
  letter-spacing: 2px;
  padding: 20px 30px;
  border: none;
}
nav .nav-left button:hover {
  background: white;
  color: black;
  transition: 2s ease-out;
}
nav .nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav i {
  color: rgb(245, 245, 245);
  letter-spacing: 70px;
}
nav .fa-twitter:hover {
  font-size: 2em;
  color: rgba(78, 78, 203, 0.544);
  transition: 1s ease-out;
}
nav .fa-facebook-f:hover {
  font-size: 2em;
  color: rgba(78, 78, 203, 0.544);
  transition: 1s ease-out;
}
nav .fa-instagram:hover {
  font-size: 2em;
  color: rgba(78, 78, 203, 0.544);
  transition: 1s ease-out;
}
nav .fa-github:hover {
  font-size: 2em;
  color: rgba(78, 78, 203, 0.544);
  transition: 1s ease-out;
}

.up-header-container {
  margin: 0 auto;
  background: rgb(245, 245, 245);
  max-width: 1400px;
  text-align: center;
  font-family: arial;
  height: 200px;
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-wrap: nowrap;
  align-items: center;
}

#bande-left {
  padding: 0px;
  margin: 0px;
  border: none;
  width: 30%;
  height: 1px;
  background: rgba(149, 149, 149, 0.37);
}

h4 {
  font-family: "font-1";
  padding: 80px;
  color: rgb(6, 6, 6);
}

#bande-right {
  padding: 0px;
  margin: 0px;
  border: none;
  width: 30%;
  height: 1px;
  background: rgba(149, 149, 149, 0.37);
}

.main-header-container {
  margin: 0 auto;
  background: rgb(245, 245, 245);
  max-width: 1400px;
  text-align: center;
}
.main-header-container h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: "font-2";
  font-size: 4.2em;
  max-width: 58%;
  margin: 0 auto;
  word-spacing: 20px;
}
.main-header-container p {
  color: rgb(6, 6, 6);
  font-family: "font-1";
  font-size: 1rem;
  max-width: 52%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  word-spacing: 5px;
  line-height: 40px;
}
.main-header-container .img {
  background: url(/images/pic01.jpg) center/cover;
  height: 700px;
  max-width: 1200px;
  margin: 0 auto;
}
.main-header-container button {
  background: none;
  margin-top: 40px;
  border: 2px solid rgb(6, 6, 6);
  border-color: rgb(6, 6, 6);
  color: rgb(6, 6, 6);
  padding: 10px 80px;
  text-transform: uppercase;
  font-family: "font-2";
  margin-bottom: 100px;
}
.main-header-container button:hover {
  cursor: pointer;
  background: rgb(6, 6, 6);
  color: rgb(245, 245, 245);
}

.bottom-header {
  margin: 0 auto;
  background: rgb(245, 245, 245);
  max-width: 1400px;
}

#bande_horizontale {
  padding: 0px;
  margin: 0px;
  border: none;
  width: 100%;
  height: 1px;
  background: rgba(149, 149, 149, 0.37);
}

.bottom-header-container {
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.bottom-header-container .bottom-header-left {
  margin-top: 40px;
}
.bottom-header-container .bottom-header-left h4 {
  font-family: "font-1";
  color: rgb(6, 6, 6);
  margin-bottom: -40px;
  text-align: center;
}
.bottom-header-container .bottom-header-left h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: "font-2";
  font-size: 1.2em;
  max-width: 30%;
  margin: 0 auto;
}
.bottom-header-container .bottom-header-left .img {
  background: url(/images/pic02.jpg) center/cover;
  height: 200px;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 20px;
}
.bottom-header-container .bottom-header-left p {
  color: rgb(6, 6, 6);
  font-family: "font-1";
  font-size: 1rem;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 25px;
}
.bottom-header-container .bottom-header-left a {
  text-decoration: none;
}
.bottom-header-container .bottom-header-left button {
  background: none;
  border: 2px solid rgb(6, 6, 6);
  border-color: rgb(6, 6, 6);
  color: rgb(6, 6, 6);
  padding: 10px 80px;
  text-transform: uppercase;
  font-family: "font-2";
  margin: 0 auto;
  display: block;
}
.bottom-header-container .bottom-header-left button:hover {
  cursor: pointer;
  background: rgb(6, 6, 6);
  color: rgb(245, 245, 245);
}
.bottom-header-container .bande-vertical {
  border-left: 1px solid rgba(149, 149, 149, 0.37);
  height: 800px;
}
.bottom-header-container .bottom-header-right {
  margin-top: 40px;
}
.bottom-header-container .bottom-header-right h4 {
  text-align: center;
  font-family: "font-1";
  color: rgb(6, 6, 6);
  margin-bottom: -40px;
}
.bottom-header-container .bottom-header-right h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: "font-2";
  font-size: 1.2em;
  max-width: 30%;
  margin: 0 auto;
}
.bottom-header-container .bottom-header-right .img {
  background: url(/images/pic03.jpg) center/cover;
  height: 200px;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 20px;
}
.bottom-header-container .bottom-header-right p {
  color: rgb(6, 6, 6);
  font-family: "font-1";
  font-size: 1rem;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 25px;
}
.bottom-header-container .bottom-header-right a {
  text-decoration: none;
}
.bottom-header-container .bottom-header-right button {
  background: none;
  margin-top: 40px;
  border: 2px solid rgb(6, 6, 6);
  border-color: rgb(6, 6, 6);
  color: rgb(6, 6, 6);
  padding: 10px 80px;
  text-transform: uppercase;
  font-family: "font-2";
  margin: 0 auto;
  display: block;
}
.bottom-header-container .bottom-header-right button:hover {
  cursor: pointer;
  background: rgb(6, 6, 6);
  color: rgb(245, 245, 245);
}

footer {
  margin: 0 auto;
  background: rgb(245, 245, 245);
  max-width: 1400px;
  margin-top: 100px;
}

.footer-container {
  display: flex;
}

.bande-vertical-2 {
  border-left: 1px solid rgba(149, 149, 149, 0.37);
  margin: 0 auto;
  text-align: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.form-left {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  justify-items: start;
  width: 87%;
  margin: 50px 50px;
  line-height: 10px;
}
.form-left input[type=text], .form-left textarea {
  width: 50%;
  margin: 20px 0 40px;
  border-radius: 4px;
  background: rgb(245, 245, 245);
  border: 1px solid rgba(149, 149, 149, 0.37);
  padding: 10px 150px;
  transition: 0.2s;
  font-size: 1.5em;
}
.form-left #submit {
  width: 50%;
  margin: 20px 0 40px;
  border-radius: 4px;
  background: rgb(245, 245, 245);
  border: 2px solid rgb(6, 6, 6);
  color: rgb(101, 101, 101);
  padding: 15px 50px;
  transition: 0.2s;
}
.form-left textarea {
  height: 200px;
  resize: none;
  font-size: 2em;
}
.form-left label {
  display: block;
  justify-content: center;
  font-family: "font-2";
  color: rgb(101, 101, 101);
}
.form-left input[type=submit] {
  background: none;
  border: 2px solid rgb(6, 6, 6);
  border-color: rgb(6, 6, 6);
  color: rgb(101, 101, 101);
  padding: 10px 50px;
  text-transform: uppercase;
  font-family: "font-2";
  margin: 0 auto;
  display: block;
}
.form-left input[type=submit]:hover {
  cursor: pointer;
  background: rgb(6, 6, 6);
  color: rgb(245, 245, 245);
}

.form-right {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  gap: 10px;
  width: 100%;
  margin-top: 50px;
}
.form-right input[type=text] {
  width: 50%;
  background: rgb(245, 245, 245);
  border: none;
  padding: 20px 50px;
  transition: 0.2s;
  margin-left: 20px;
  font-size: 1.5em;
}
.form-right label {
  display: block;
  justify-content: center;
  font-family: "font-2";
  color: rgb(101, 101, 101);
}
.form-right .address {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.form-right .phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.form-right .email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.form-right #bande_horizon-address {
  padding: 0px;
  margin: 0px;
  border: none;
  Max-width: 100%;
  height: 1px;
  background-color: rgba(149, 149, 149, 0.37);
}
.form-right #bande_horizon-phone {
  padding: 0px;
  margin: 0px;
  border: none;
  Max-width: 100%;
  height: 1px;
  background-color: rgba(149, 149, 149, 0.37);
}
.form-right #bande_horizon-email {
  padding: 0px;
  margin: 0px;
  border: none;
  Max-width: 100%;
  height: 1px;
  background-color: rgba(149, 149, 149, 0.37);
}
.form-right .social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-left: -117px;
}
.form-right .social .cercle {
  background-color: rgb(245, 245, 245);
  border: 1px solid;
  border-color: rgba(149, 149, 149, 0.37);
  padding: 10px;
  border-radius: 50%;
}
.form-right .social .fa-twitter {
  font-size: 1.5em;
}
.form-right .social .fa-facebook {
  font-size: 1.5em;
}
.form-right .social .fa-instagram {
  font-size: 1.5em;
}
.form-right .social .fa-github {
  font-size: 1.5em;
}
.form-right .social i {
  margin: 0px 20px;
  color: rgb(6, 6, 6);
}

@media screen and (max-width: 800px) {
  body {
    margin: 0 auto;
    background: rgb(245, 245, 245);
    max-width: 600px;
    background: url(/images/bg.jpg) center/cover fixed;
  }
  .nav-left ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .nav-right {
    visibility: hidden;
  }
  .main-header-container .img {
    height: 400px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: -40px;
  }
  .bottom-header-container {
    display: inline-block;
    align-items: center;
  }
  .bottom-header-container #bande_horizontale {
    display: none;
    visibility: hidden;
  }
  .bottom-header-container .bande-vertical {
    display: none;
    visibility: hidden;
  }
  .bottom-header-right .button {
    margin-bottom: 60px;
  }
  /*******************FOOTER*****************/
  footer {
    margin-top: 30px;
  }
  .footer-container {
    display: inline-block;
    align-items: center;
  }
  .form-left input[type=text], .form-left textarea {
    padding: 10px 100px;
  }
}
/********************/
@media screen and (max-width: 1400px) {
  body {
    margin: 0 auto;
    background: rgb(245, 245, 245);
    max-width: 600px;
    background: url(/images/bg.jpg) center/cover fixed;
  }
  .nav-left ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .nav-right {
    visibility: hidden;
  }
  .main-header-container .img {
    height: 400px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: -40px;
  }
  .bottom-header-container {
    display: inline-block;
    align-items: center;
  }
  .bottom-header-container #bande_horizontale {
    display: none;
    visibility: hidden;
  }
  .bottom-header-container .bande-vertical {
    display: none;
    visibility: hidden;
  }
  .bottom-header-right .button {
    margin-bottom: 60px;
  }
  /*******************FOOTER*****************/
  footer {
    margin-top: 30px;
  }
  .footer-container {
    display: inline-block;
    align-items: center;
  }
  .form-left input[type=text], .form-left textarea {
    padding: 10px 100px;
  }
}/*# sourceMappingURL=index.css.map */